.slider-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .custom-arrow.prev {
    left: 100px;
    
  }
  
  .custom-arrow.next {
    right: 100px;
    

  }
  
  .custom-arrow span {
    font-size: 20px;
    color: black;
    background-color: white;
  }
  
  .custom-arrow:hover {
    background-color: rgb(208, 203, 203);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  
  .slick-slide img {
    width: 100%;
    border-radius: 15px;
    height: 250px;
    /* background-size: contain; */
    background-position: center;
    
  }
  
  .slick-slide {
    padding: 0 10px;
    margin: 5px 20px;
  }
  
  .slick-center img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    
  }
  
  .slick-list {
    overflow: hidden; 
  }
  
  .slick-track {
    display: flex;
    align-items: center;
  }
  @media  (max-width: 500px) {
    .custom-arrow {
      width: 30px;
      height: 30px;
    }
    .custom-arrow span {
      font-size: 16px;
    }
    .slick-slide img {
      height: 200px;
      width: 100%;
      margin: 0px;
     
      
    }
    .slick-prev,
  .slick-next{
    display: none;
  }
  .slick-slide {
    margin: 0px;
  }
  }
  @media (max-width: 1024px) {
    .custom-arrow {
      display: none; 
    }
    
    .slick-slide img {
      height: 230px;
      width: 100%;
      margin: 0;
    }
    
    .slick-slide {
      margin: 5px;
    }
    
    .slick-list {
      overflow: hidden;
    }
  }
  
  @media (max-width: 768px) {
    .custom-arrow {
      display: none; /
    }
  
    .slick-slide img {
      height: 220px;
      width: 100%;
      margin: 0;
    }
    
    .slick-slide {
      margin: 5px;
    }
  
    .slick-list {
      overflow: hidden;
    }
  }
  
 


  
  
 
  
  
  
